#form_box input{ margin:0}
.l_box dd .text{ display:inline}

.l_box .error{ padding:0 8px 0 25px}

button.btn{
	border: 0 none;
	height: 39px;
	_margin-left:-5px
}
button.btn24{
	background:url(../images/btn.png) no-repeat right -133px;
	border: 0 none;
	height: 24px;
	color: #fff;
	font-size: 12px;
    line-height: 24px;
	cursor: pointer;
    display: inline-block;
	width: 68px;
}
.bef_btn24{
	background: url(http://s.ayi800.com/images/btn.pngg") no-repeat scroll 0 -160px transparent;
	float: left;
	height: 24px;
	overflow: hidden;
	width: 5px;
}
.bef_btn{
	background: url(http://s.ayi800.com/images/btn.pngg") no-repeat scroll 0 -37px transparent;
	float: left;
	height: 38px;
	overflow: hidden;
	width: 12px;
}
label.error{
	background: url(http://s.ayi800.com/images/alert.jpgg") no-repeat scroll 2px 5px transparent;
	padding-left: 28px;
	padding-right: 5px;
}
