HTML {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

BODY {
	background-color: #db4985;
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0;
}

DIV {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

SPAN {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

APPLET {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

OBJECT {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

IFRAME {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H1 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H2 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H3 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H4 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H5 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

H6 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

P {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

BLOCKQUOTE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

PRE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

A {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

ABBR {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

ACRONYM {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

ADDRESS {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

BIG {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

CITE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

CODE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

DEL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

DFN {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

EM {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

FONT {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

IMG {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

INS {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

KBD {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

Q {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

S {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

SAMP {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

SMALL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

STRIKE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

STRONG {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

SUB {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

SUP {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

TT {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

VAR {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

B {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

U {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

I {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

CENTER {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

DL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

DT {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

DD {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

OL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

UL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

LI {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

FIELDSET {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

FORM {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

LABEL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

LEGEND {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

TABLE {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

CAPTION {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 100%;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	VERTICAL-ALIGN: baseline;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	outline: 0
}

BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #373737;
	PADDING-TOP: 0px;
	FONT-FAMILY: "����", Arial;
	TEXT-ALIGN: center
}

DIV {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

FORM {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

IMG {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

OPTION {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H1 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H2 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H3 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H4 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H5 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H6 {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

DL {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

DT {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

H1 {
	LINE-HEIGHT: 150%
}

H2 {
	LINE-HEIGHT: 150%
}

H3 {
	LINE-HEIGHT: 150%
}

H4 {
	LINE-HEIGHT: 150%
}

H5 {
	LINE-HEIGHT: 150%
}

H6 {
	LINE-HEIGHT: 150%
}

DL {
	LINE-HEIGHT: 150%
}

DT {
	LINE-HEIGHT: 150%
}

INPUT {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 10px;
	LINE-HEIGHT: 150%;
	PADDING-TOP: 0px
}

UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

OL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

A {
	CURSOR: pointer;
	COLOR: #373737;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #f00;
	TEXT-DECORATION: underline
}

EM {
	FONT-STYLE: normal
}

.left_float {
	FLOAT: left
}

.f14 {
	FONT-SIZE: 14px
}

.f15 {
	FONT-SIZE: 15px
}

.red {
	COLOR: #f00
}

.blue {
	COLOR: #21a4a9
}

.green {
	COLOR: #81b51c
}

.ayell {
	COLOR: #ff5400
}

.byell {
	COLOR: #d88e1d
}

.yellow {
	COLOR: #ff8e15
}

.title_1 {
	FONT-SIZE: 14px;
	COLOR: #db4985
}

.pointContext {
	font-size: 16px;
	color: #db4985;
	font-weight: bold;
}

.clearfix:unknown {
	CLEAR: both;
	DISPLAY: block;
	VISIBILITY: hidden;
	HEIGHT: 0px;
	content: "."
}

.content2:unknown {
	CLEAR: both;
	DISPLAY: block;
	VISIBILITY: hidden;
	HEIGHT: 0px;
	content: "."
}

.clear {
	CLEAR: both;
	OVERFLOW: hidden;
	HEIGHT: 0px
}

.clearfix {
	DISPLAY: inline-block;
}

.content2 {
	DISPLAY: inline-block
}
/**header**/
#in_header {
	background-color: #db4985;
	MARGIN-BOTTOM: 20px;
	WIDTH: 960px;
	POSITION: relative;
	HEIGHT: 177px
}

.head {
	MARGIN: 0px auto;
	WIDTH: 960px;
	POSITION: relative;
}

#flashcontent {
	
}

#header {
	BACKGROUND: url(../images/bg_overlap.png) repeat-x 0px -352px;
	WIDTH: 100%;
	HEIGHT: 141px
}

.headrecom {
	DISPLAY: none;
	FONT-SIZE: 12px;
	LEFT: 725px;
	WIDTH: 145px;
	COLOR: #da2245;
	LINE-HEIGHT: 150%;
	POSITION: absolute;
	TOP: 45px;
	HEIGHT: 95px;
	TEXT-ALIGN: left
}

.headrecom H4 {
	FONT-SIZE: 14px;
	MARGIN-LEFT: 20px;
	COLOR: #de2773
}

.headrecom UL {
	
}

.headrecom LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/ico_1.gif) no-repeat left 11px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}

.headrecom LI A {
	COLOR: #dc2f50
}

.headrecom LI A:hover {
	TEXT-DECORATION: none
}

#content {
	PADDING-BOTTOM: 10px;
	MARGIN: 0px auto;
	WIDTH: 560px;
	TEXT-ALIGN: left;
	OVERFLOW: hidden;
}

.side {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 10px 15px 0px 20px;
	WIDTH: 210px
}

.stop {
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -225px 0px;
	WIDTH: 171px;
	HEIGHT: 51px
}

.stop .tit {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 5px 0px 0px 10px
}

.stop .tit2 {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 5px 0px 0px 10px
}

.stop .tit2 {
	MARGIN-TOP: 10px
}

.side UL {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	BACKGROUND: url(../images/bg_sidec.png) repeat-y 0px 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 155px;
	PADDING-TOP: 0px
}

.side UL LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 12px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	BORDER-BOTTOM: #dbdbdb 1px dashed
}

.snav1 {
	BACKGROUND: url(../images/arrow3.png) no-repeat left 12px;
	COLOR: #ff5400
}

.snav2 {
	BACKGROUND: url(../images/arrow4.png) no-repeat left 12px;
	COLOR: #d88e1d
}

.snav3 {
	BACKGROUND: url(../images/arrow5.png) no-repeat left 12px;
	COLOR: #81b51c
}

.snav4 {
	BACKGROUND: url(../images/arrow6.png) no-repeat left 12px;
	COLOR: #21a4a9
}

.side UL UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	WIDTH: 145px;
	PADDING-TOP: 0px
}

.side UL UL LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px 0px;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 2px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.side UL UL LI A:hover {
	
}

.snav1 A {
	COLOR: #ff5400
}

.snav1 A:hover {
	COLOR: #ff5400
}

.snav2 A {
	COLOR: #d88e1d
}

.snav2 A:hover {
	COLOR: #d88e1d
}

.snav3 A {
	COLOR: #81b51c
}

.snav3 A:hover {
	COLOR: #81b51c
}

.snav4 A {
	COLOR: #21a4a9
}

.snav4 A:hover {
	COLOR: #21a4a9
}

.snav1 H4 {
	FONT-SIZE: 14px
}

.snav2 H4 {
	FONT-SIZE: 14px
}

.snav3 H4 {
	FONT-SIZE: 14px
}

.snav4 H4 {
	FONT-SIZE: 14px
}

.side UL .snoborder {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.ntit {
	PADDING-LEFT: 15px;
	FONT-SIZE: 15px;
	BACKGROUND: url(../../img/portal/bg_ntit.jpg) no-repeat left top;
	MARGIN-BOTTOM: 15px;
	WIDTH: 505px;
	COLOR: #de2773;
	LINE-HEIGHT: 31px;
	HEIGHT: 31px
}

.ntit2 {
	PADDING-LEFT: 15px;
	FONT-SIZE: 15px;
	BACKGROUND: url(../../img/portal/bg_ntit.jpg) no-repeat left top;
	MARGIN-BOTTOM: 15px;
	WIDTH: 520px;
	COLOR: #de2773;
	LINE-HEIGHT: 31px;
	HEIGHT: 31px
}

.sbot {
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -225px -51px;
	MARGIN-BOTTOM: 10px;
	WIDTH: 171px;
	HEIGHT: 16px
}

.side .noborder {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.ystj {
	MARGIN-TOP: 10px;
	FLOAT: left;
	WIDTH: 500px
}

#footer {
	BACKGROUND: url(../images/bg_foot.gif) repeat-x left top
}

#footer_in {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 20px;
	MARGIN: 0px auto;
	WIDTH: 830px;
	COLOR: #777;
	PADDING-TOP: 20px;
	TEXT-ALIGN: center
}

#footer A {
	COLOR: #777
}

.links {
	width: 960px;
	COLOR: #777;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 10px;
	MARGIN: 0px auto;
	COLOR: #777;
	PADDING-TOP: 10px;
	TEXT-ALIGN: center;
}

.linkImg {
	width: 174px;
	height: 42px;
	border: 0;
}

.linksTitle {
	width: 30px;
	height: 30px;
	border: 0;
}


.inside {
	FLOAT: left;
	WIDTH: 226px
}

.instop {
	PADDING-RIGHT: 30px;
	PADDING-LEFT: 30px;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat 1px 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 166px;
	PADDING-TOP: 0px;
	HEIGHT: 76px
}

.instop H2 {
	DISPLAY: inline;
	FONT-SIZE: 16px;
	FLOAT: left;
	MARGIN: 28px 0px 0px 55px;
	COLOR: #de2773
}

.inside UL {
	PADDING-RIGHT: 30px;
	PADDING-LEFT: 30px;
	BACKGROUND: url(../images/in_sidec.png) repeat-y left top;
	PADDING-BOTTOM: 0px;
	WIDTH: 160px;
	PADDING-TOP: 0px
}

.inside UL LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #dbdbdb 1px dashed
}

.inside UL LI A {
	PADDING-LEFT: 14px;
	FONT-SIZE: 14px;
	BACKGROUND: url(../images/arrow1.png) no-repeat left center;
	COLOR: #21a4a9
}

.inside UL LI A:hover {
	TEXT-DECORATION: none
}

.insbot {
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat 0px -75px;
	WIDTH: 226px;
	HEIGHT: 45px
}

.intitbx {
	MARGIN: 10px 0px 0px 20px
}

.intitbx .stop {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -453px -220px;
	PADDING-BOTTOM: 0px;
	WIDTH: 168px;
	PADDING-TOP: 8px;
	HEIGHT: 34px
}

#content .intitbx UL {
	PADDING-RIGHT: 10px;
	BORDER-TOP: #dbdbdb 1px solid;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/intbxtc.png) repeat-y left top;
	PADDING-BOTTOM: 0px;
	WIDTH: 163px;
	PADDING-TOP: 0px
}

.intitbx .sbot {
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -453px -270px;
	WIDTH: 183px
}

#content .intitbx .shiy LI A {
	BACKGROUND: url(../images/arrow2.gif) no-repeat 0px 4px
}

#content .intitbx .shiy LI A:hover {
	FONT-WEIGHT: normal;
	BACKGROUND: url(../images/arrow1.gif) no-repeat 0px 4px;
	COLOR: #de2773
}

#content .intitbx .shiy .cur A {
	FONT-WEIGHT: normal;
	BACKGROUND: url(../images/arrow1.gif) no-repeat 0px 4px;
	COLOR: #de2773
}

#content .intitbx .bianm LI A {
	BACKGROUND: url(../images/arrow4.gif) no-repeat 0px 4px
}

#content .intitbx .bianm LI A:hover {
	FONT-WEIGHT: normal;
	BACKGROUND: url(../images/arrow3.gif) no-repeat 0px 4px;
	COLOR: #de2773
}

#content .intitbx .bianm .cur A {
	FONT-WEIGHT: normal;
	BACKGROUND: url(../images/arrow3.gif) no-repeat 0px 4px;
	COLOR: #de2773
}

.inmain {
	FLOAT: left;
	WIDTH: 640px
}

.inmtop {
	MARGIN-TOP: 10px;
	PADDING-BOTTOM: 15px;
	BORDER-BOTTOM: #dbdbdb 1px dashed
}

.inmtop P {
	FONT-SIZE: 14px
}

.tit {
	FONT-SIZE: 15px;
	COLOR: #3bb3c3;
	LINE-HEIGHT: 45px;
	HEIGHT: 38px
}

.tit2 {
	FONT-SIZE: 15px;
	COLOR: #3bb3c3;
	LINE-HEIGHT: 45px;
	HEIGHT: 38px
}

.tit2 {
	LINE-HEIGHT: 31px;
	HEIGHT: 31px
}

.tit IMG {
	VERTICAL-ALIGN: bottom
}

.tit2 IMG {
	VERTICAL-ALIGN: bottom
}

.inmtop .tit {
	MARGIN-BOTTOM: 5px
}

#play {
	MARGIN: 0px auto 10px;
	OVERFLOW: hidden;
	WIDTH: 520px;
	POSITION: relative;
	HEIGHT: 230px;
	TEXT-ALIGN: left
}

#play_info {
	PADDING-RIGHT: 0px;
	MARGIN-TOP: 205px;
	PADDING-LEFT: 20px;
	Z-INDEX: 1001;
	PADDING-BOTTOM: 0px;
	WIDTH: 340px;
	CURSOR: pointer;
	COLOR: #fff;
	LINE-HEIGHT: 25px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	HEIGHT: 25px
}

#play_info B {
	DISPLAY: block;
	FONT-SIZE: 14px
}

#play_bg {
	MARGIN-TOP: 205px;
	Z-INDEX: 1000;
	FILTER: Alpha(Opacity = 80);
	WIDTH: 520px;
	POSITION: absolute;
	HEIGHT: 25px;
	BACKGROUND-COLOR: #e68cb1;
	opacity: 0.8
}

#play_text {
	Z-INDEX: 1002;
	RIGHT: 10px;
	POSITION: absolute;
	TOP: 207px;
	HEIGHT: 25px
}

#play_text UL {
	DISPLAY: block;
	FILTER: Alpha(Opacity = 90);
	PADDING-TOP: 1px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 25px;
	opacity: 0.9
}

#play_text UL LI {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FLOAT: left;
	MARGIN: 1px;
	WIDTH: 18px;
	CURSOR: pointer;
	COLOR: #be0753;
	LINE-HEIGHT: 17px;
	HEIGHT: 17px;
	BACKGROUND-COLOR: #f6d5e3;
	TEXT-ALIGN: center
}

#play_text UL LI.cur {
	FONT-WEIGHT: bold;
	BACKGROUND: #ce5788;
	COLOR: #fff
}

#play_list {
	OVERFLOW: hidden;
	ZOOM: 1
}

#play_list A {
	DISPLAY: block;
	WIDTH: 520px;
	POSITION: absolute;
	HEIGHT: 230px
}

#play_list A IMG {
	DISPLAY: block
}

.binfor {
	FLOAT: right;
	WIDTH: 392px
}

.binfor UL {
	PADDING-LEFT: 12px;
	FLOAT: left;
	MARGIN: 0px;
	WIDTH: 170px;
	TEXT-ALIGN: left
}

.binfor UL LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 12px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #dbdbdb 1px dashed
}

.binfor .noborder {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}

.tonggao {
	PADDING-RIGHT: 12px;
	PADDING-LEFT: 15px;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -250px -125px;
	FLOAT: right;
	PADDING-BOTTOM: 0px;
	WIDTH: 171px;
	COLOR: #8c1245;
	PADDING-TOP: 0px;
	HEIGHT: 220px
}

.tonggao H3 {
	FONT-SIZE: 16px;
	MARGIN: 15px 0px 10px 45px;
	COLOR: #ff5400
}

.inmbot {
	MARGIN-BOTTOM: 20px;
	PADDING-TOP: 15px
}

.inmbot2 {
	MARGIN-LEFT: 20px;
	PADDING-TOP: 15px
}

.inmbot2 .botl {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-LEFT: 10px;
	WIDTH: 270px
}

.inmbot2 .inmbotr {
	FLOAT: right;
	WIDTH: 560px;
	MARGIN-RIGHT: 15px
}

.inmbot2 .inmbotr .bot2 {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-LEFT: 10px;
	WIDTH: 270px
}

.inmbot2 .inmbotr .bot3 {
	FLOAT: right;
	WIDTH: 270px
}

.titcs {
	MARGIN-BOTTOM: 5px;
	WIDTH: 270px;
	LINE-HEIGHT: 32px;
	HEIGHT: 32px
}

.titcs2 {
	MARGIN-BOTTOM: 5px;
	WIDTH: 270px;
	LINE-HEIGHT: 32px;
	HEIGHT: 32px
}

.botl .titcs {
	BACKGROUND: url(../images/bg_incs1.png) no-repeat 0px 0px
}

.bot2 .titcs {
	BACKGROUND: url(../images/bg_incs.png) no-repeat 0px 0px
}

.titcs2 {
	BACKGROUND: url(../images/bg_inzx.png) no-repeat 0px 0px
}

.titcs H3 {
	DISPLAY: inline;
	FONT-SIZE: 16px;
	FLOAT: left;
	MARGIN-LEFT: 15px;
	COLOR: #8c1245;
	LINE-HEIGHT: 32px
}

.titcs2 H3 {
	DISPLAY: inline;
	FONT-SIZE: 16px;
	FLOAT: left;
	MARGIN-LEFT: 15px;
	COLOR: #8c1245;
	LINE-HEIGHT: 32px
}

.bot2 .titcs H3 {
	COLOR: #007dcd
}

.titcs2 H3 {
	COLOR: #5e7900
}

.titcs A {
	DISPLAY: inline;
	FLOAT: right;
	MARGIN-RIGHT: 15px
}

.titcs2 A {
	DISPLAY: inline;
	FLOAT: right;
	MARGIN-RIGHT: 15px
}

.botul LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #ccc 1px dashed
}

.botul LI A {
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/arrow8.png) no-repeat 0px 5px
}

.edittext .hospitalimg {
	MARGIN-TOP: 10px;
	WIDTH: 520px;
	LIST-STYLE-TYPE: none
}

.edittext .hospitalimg LI {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 0px 8px 10px 0px;
	WIDTH: 150px;
	TEXT-ALIGN: center
}

.hospitalimg IMG {
	BORDER-RIGHT: #ededed 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #ededed 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #ededed 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #ededed 1px solid;
}

.hospitalimg TD {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px
}

.titul {
	PADDING-LEFT: 30px;
	MARGIN-BOTTOM: 20px;
	WIDTH: 600px;
	BORDER-BOTTOM: #ededed 1px solid;
	LIST-STYLE-TYPE: none
}

.titul LI {
	FLOAT: left;
	MARGIN: 0px 2px 0px 0px
}

.titul LI A {
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-SIZE: 15px;
	FLOAT: left;
	LINE-HEIGHT: 33px;
	HEIGHT: 31px;
	TEXT-ALIGN: center
}

.titul LI A:hover {
	TEXT-DECORATION: none
}

.cur A {
	FONT-WEIGHT: bold;
	BACKGROUND: url(../images/arrow_11.gif) no-repeat 0px center;
	TEXT-DECORATION: none
}

#m01 {
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/a1.png) no-repeat left bottom
}

#m01 SPAN {
	PADDING-RIGHT: 15px;
	DISPLAY: block;
	BACKGROUND: url(../images/a2.png) no-repeat right bottom;
	FLOAT: left;
	HEIGHT: 31px
}

#m02 {
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/b1.png) no-repeat left bottom
}

#m02 SPAN {
	PADDING-RIGHT: 15px;
	DISPLAY: block;
	BACKGROUND: url(../images/b2.png) no-repeat right bottom;
	FLOAT: left;
	HEIGHT: 31px
}

#m03 {
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/c1.png) no-repeat left bottom
}

#m03 SPAN {
	PADDING-RIGHT: 15px;
	DISPLAY: block;
	BACKGROUND: url(../images/c2.png) no-repeat right bottom;
	FLOAT: left;
	HEIGHT: 31px
}

#m01 A {
	COLOR: #21a4a9
}

#m02 A {
	COLOR: #81b51c
}

#m03 A {
	COLOR: #ff8e15
}

#c01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 35px;
	PADDING-BOTTOM: 30px;
	PADDING-TOP: 0px
}

#c02 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 35px;
	PADDING-BOTTOM: 30px;
	PADDING-TOP: 0px
}

#c03 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 35px;
	PADDING-BOTTOM: 30px;
	PADDING-TOP: 0px
}

.edittext #c01 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 30px;
	PADDING-TOP: 0px
}

.edittext #c02 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 30px;
	PADDING-TOP: 0px
}

.list LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 14px;
	BACKGROUND: url(../images/arrow1.png) no-repeat left 11px;
	PADDING-BOTTOM: 3px;
	LINE-HEIGHT: 160%;
	PADDING-TOP: 3px
}

.hidden {
	DISPLAY: none
}



.tul01 {
	FLOAT: left;
	WIDTH: 315px;
	MARGIN-RIGHT: 10px
}

.listbox {
	BORDER-RIGHT: #ededed 1px solid;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 10px
}

.hispitaltab {
	BORDER-COLLAPSE: collapse
}

.hispitaltab THEAD TH {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 3px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid;
	TEXT-ALIGN: center
}

.hispitaltab TD {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 3px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid
}

.hispitaltab TH {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 3px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid
}

.hispitaltab TBODY TH {
	FONT-WEIGHT: normal
}

.title {
	MARGIN-TOP: 15px;
	FONT-SIZE: 14px
}

.hispitaltab2 THEAD TH {
	BACKGROUND-COLOR: #f6ccdd
}

.hispitaltab2 TD {
	TEXT-ALIGN: center
}

.psul {
	MARGIN: 0px 0px 10px 10px
}

.psul LI {
	PADDING-LEFT: 15px;
	BACKGROUND: url(../images/arrow1.png) no-repeat left center
}

.onlinetab {
	MARGIN-LEFT: 40px
}

.onlinetab TD {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px
}

.onlinetab TD INPUT {
	VERTICAL-ALIGN: middle
}

.input {
	BORDER-RIGHT: #ededed 1px solid;
	BORDER-TOP: #ededed 1px solid;
	BORDER-LEFT: #ededed 1px solid;
	WIDTH: 180px;
	LINE-HEIGHT: 17px;
	BORDER-BOTTOM: #ededed 1px solid;
	HEIGHT: 17px
}

.sinput {
	BORDER-RIGHT: #ededed 1px solid;
	BORDER-TOP: #ededed 1px solid;
	BORDER-LEFT: #ededed 1px solid;
	WIDTH: 182px;
	BORDER-BOTTOM: #ededed 1px solid;
	HEIGHT: 19px
}

.onlinetab TD TEXTAREA {
	BORDER-RIGHT: #ededed 1px solid;
	BORDER-TOP: #ededed 1px solid;
	BORDER-LEFT: #ededed 1px solid;
	WIDTH: 400px;
	BORDER-BOTTOM: #ededed 1px solid;
	HEIGHT: 100px
}

.sidebox {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 10px 15px 0px 20px;
	WIDTH: 171px
}

.sidebox .side {
	MARGIN: 0px 0px 15px
}

.dtop {
	PADDING-RIGHT: 28px;
	PADDING-LEFT: 28px;
	PADDING-BOTTOM: 0px;
	WIDTH: 590px;
	PADDING-TOP: 0px
}

.imgbox {
	WIDTH: 250px;
	TEXT-ALIGN: center
}

.mdetaitab {
	MARGIN: 20px 0px 0px 60px
}

.mdetaitab TH {
	FONT-WEIGHT: normal
}

.mdetaitab TD {
	WORD-BREAK: break-all
}

.mdetaitab TH {
	VERTICAL-ALIGN: top
}

.mdetaitab TD {
	VERTICAL-ALIGN: top
}

.back {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	PADDING-TOP: 20px;
	ZOOM: 1;
	TEXT-ALIGN: right
}

.milkul {
	WIDTH: 650px;
	TEXT-ALIGN: center
}

.milkul LI {
	MARGIN-TOP: 15px;
	FLOAT: left;
	WIDTH: 190px
}

.botmenu {
	MARGIN-TOP: 20px;
	WIDTH: 600px;
	TEXT-ALIGN: right
}

.botmenu A {
	MARGIN: 0px 3px
}

.submit {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 14px;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -225px -70px;
	BORDER-LEFT: 0px;
	WIDTH: 71px;
	CURSOR: pointer;
	COLOR: #be0753;
	BORDER-BOTTOM: 0px;
	HEIGHT: 31px
}

.mapbox {
	WIDTH: 142px
}

.mapbox SPAN {
	PADDING-RIGHT: 5px;
	DISPLAY: block;
	PADDING-LEFT: 5px;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat -453px -125px;
	PADDING-BOTTOM: 5px;
	WIDTH: 132px;
	PADDING-TOP: 5px;
	HEIGHT: 79px
}

.mapbox EM {
	DISPLAY: block;
	BACKGROUND: url(../images/bg_fixbg.png) no-repeat;
	MARGIN: 5px 0px 0px 50px;
	WIDTH: 91px;
	COLOR: #fff;
	LINE-HEIGHT: 18px;
	HEIGHT: 20px;
	TEXT-ALIGN: center
}

.mapbox EM A {
	FONT-SIZE: 12px;
	COLOR: #fff
}

.mapbox EM A:hover {
	TEXT-DECORATION: none
}

.mapbox .map1 {
	BACKGROUND-POSITION: -303px -70px
}

.mapbox .map2 {
	BACKGROUND-POSITION: -398px -70px
}

.bana {
	Z-INDEX: 1000;
	LEFT: 747px;
	WIDTH: 125px;
	POSITION: absolute;
	TOP: 6px;
	HEIGHT: 21px
}

.bana A {
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 21px
}

.bana .shye {
	WIDTH: 52px
}

.bana .lxwm {
	WIDTH: 70px
}

.tab03 {
	MARGIN-BOTTOM: 20px;
	BORDER-COLLAPSE: collapse
}

.tab03 TH {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 6px;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #ccc 1px solid
}

.tab03 TD {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 6px;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #ccc 1px solid
}

.tab03 TH {
	FONT-WEIGHT: normal;
	TEXT-ALIGN: left
}

.tab03 TD {
	
}

.tab03 IMG {
	DISPLAY: block;
	MARGIN: 5px auto;
	WIDTH: 150px
}

.indtips {
	MARGIN-BOTTOM: 10px;
	OVERFLOW: hidden;
	ZOOM: 1
}

.indtips H2 {
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/bg_title_1.gif) no-repeat left top;
	FLOAT: left;
	WIDTH: 75px;
	COLOR: #fff;
	LINE-HEIGHT: 28px;
	HEIGHT: 28px;
	TEXT-ALIGN: center
}

#demo {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-LEFT: 10px;
	OVERFLOW: hidden;
	WIDTH: 435px;
	COLOR: #db4985;
	LINE-HEIGHT: 28px;
	HEIGHT: 28px
}

#indemo {
	FLOAT: left;
	WIDTH: 1600%
}

#demo1 {
	FLOAT: left
}

#demo2 {
	FLOAT: left
}

#demo P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #db4985;
	LINE-HEIGHT: 28px;
	PADDING-TOP: 0px;
	HEIGHT: 28px
}

.edittext {
	LINE-HEIGHT: 150%;
}

.edittext P {
	LINE-HEIGHT: 150%
}

.edittext {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.edittext P {
	MARGIN-BOTTOM: 10px
}

.edittext UL {
	LIST-STYLE-TYPE: disc;
	text-align: left;
}

.edittext div {
	text-align: center;
}

.edittext UL LI {
	MARGIN-LEFT: 15px;
	list-style-type: decimal;
}

.edittext UL UL {
	LIST-STYLE-TYPE: circle
}

.edittext UL UL UL {
	LIST-STYLE-TYPE: square
}

.edittext OL {
	LIST-STYLE-TYPE: decimal
}

.edittext OL LI {
	MARGIN-LEFT: 25px
}

.edit_table1 {
	BORDER-COLLAPSE: collapse
}

.edit_table2 {
	BORDER-COLLAPSE: collapse
}

.edit_table3 {
	BORDER-COLLAPSE: collapse
}

.edit_table1 TH {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	BORDER-BOTTOM: #000 1px solid
}

.edit_table1 TD {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	BORDER-BOTTOM: #000 1px solid
}

.edit_table2 TH {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid
}

.edit_table2 TD {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid
}

.edit_table3 TH {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #fff 1px solid
}

.edit_table3 TD {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #fff 1px solid
}

.piclist {
	MARGIN-LEFT: 20px;
	OVERFLOW: hidden;
	ZOOM: 1
}

.piclist LI {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 5px;
	FLOAT: left;
	PADDING-BOTTOM: 5px;
	MARGIN: 10px;
	BORDER-LEFT: #ccc 1px solid;
	WIDTH: 170px;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #ccc 1px solid;
	HEIGHT: 150px;
	TEXT-ALIGN: center
}

.piclist LI A {
	
}

.piclist LI A SPAN {
	FONT-SIZE: 12px
}

.piclist LI A SPAN STRONG {
	DISPLAY: block;
	FONT-SIZE: 14px;
	MARGIN: 5px 0px
}

.edittext .titul {
	PADDING-LEFT: 30px;
	MARGIN-BOTTOM: 20px;
	OVERFLOW: hidden;
	WIDTH: 620px;
	BORDER-BOTTOM: #ededed 1px solid;
	LIST-STYLE-TYPE: none
}

.edittext .titul LI {
	FLOAT: left;
	MARGIN: 0px 2px 0px 0px
}

.edittext .titul_2 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	MARGIN-BOTTOM: 0px;
	PADDING-BOTTOM: 0px;
	WIDTH: 650px;
	PADDING-TOP: 0px
}

.leftlist {
	BORDER-RIGHT: #ededed 5px solid;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 10px;
	WIDTH: 310px;
	PADDING-TOP: 20px
}

.rightlist {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 10px;
	WIDTH: 310px;
	PADDING-TOP: 20px
}

.leftlist .list LI {
	MARGIN-LEFT: 0px
}

.rightlist .list LI {
	MARGIN-LEFT: 0px
}

.content2 {
	FONT-SIZE: 12px;
	MARGIN: 0px auto;
	WIDTH: 960px;
	COLOR: #666;
	LINE-HEIGHT: 150%;
	TEXT-ALIGN: left
}

.content2 A {
	COLOR: #666
}

.content2 A:hover {
	COLOR: #f00
}

.indleft {
	FLOAT: left;
	WIDTH: 210px;
}

.indmain {
	FLOAT: left;
	MARGIN-LEFT: 10px;
	WIDTH: 520px;
}

.indright {
	FLOAT: right;
	WIDTH: 210px;
}

.boxtext {
	ZOOM: 1
}

.tab_1_show {
	ZOOM: 1
}

.sidebox_1 {
	BACKGROUND: url(../images/bg_side1.gif) no-repeat left bottom;
	MARGIN-BOTTOM: 10px
}

.sidebox_1 .boxtop {
	PADDING-LEFT: 50px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/bg_side1.gif) no-repeat left top;
	COLOR: #fff;
	LINE-HEIGHT: 28px;
	HEIGHT: 40px
}

.sidebox_1 .boxtext {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px
}

.ol_1 {
	PADDING-BOTTOM: 10px
}

.ol_1 LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 28px;
	BACKGROUND: url(../images/ico_num.gif) no-repeat -480px 3px;
	PADDING-BOTTOM: 3px;
	OVERFLOW: hidden;
	PADDING-TOP: 3px;
	ZOOM: 1
}

.ol_1 LI A {
	COLOR: #186e99
}

.ol_1 LI A:hover {
	COLOR: #f00
}

.ol_1 LI.li_1 {
	
}

.ol_1 LI.li_2 {
	BACKGROUND-POSITION: -430px -47px
}

.ol_1 LI.li_3 {
	BACKGROUND-POSITION: -380px -97px
}

.ol_1 LI.li_4 {
	BACKGROUND-POSITION: -330px -147px
}

.ol_1 LI.li_5 {
	BACKGROUND-POSITION: -280px -197px
}

.ol_1 LI.li_6 {
	BACKGROUND-POSITION: -230px -247px
}

.ol_1 LI.li_7 {
	BACKGROUND-POSITION: -180px -297px
}

.ol_1 LI.li_8 {
	BACKGROUND-POSITION: -130px -347px
}

.ol_1 LI.li_9 {
	BACKGROUND-POSITION: -80px -397px
}

.ol_1 LI.li_10 {
	BACKGROUND-POSITION: -30px -447px
}

.sidebox_2 {
	BACKGROUND: url(../images/bg_side2.gif) no-repeat left bottom;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 10px
}

.sidebox_2 .boxtext {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/bg_side2.gif) no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 10px
}

.indfaq {
	
}

.indfaq DT {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 15px;
	FONT-WEIGHT: bold;
	BACKGROUND: url(../images/arrow_11.gif) no-repeat 5px 7px;
	PADDING-BOTTOM: 2px;
	CURSOR: pointer;
	COLOR: #db4985;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #dbc1cd 1px dashed
}

.indfaq DD {
	PADDING-RIGHT: 0px;
	DISPLAY: none;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #dbc1cd 1px dashed
}

.indfaq DD.active {
	DISPLAY: block
}

.indfaq .more {
	COLOR: #db4985;
	TEXT-DECORATION: underline
}

.indfaq .more:hover {
	COLOR: #f00
}

.indabout {
	BACKGROUND: url(../images/bg_indmain.gif) no-repeat left bottom;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 30px;
	WIDTH: 520px;
}

.indabout .boxtext {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 20px;
	BACKGROUND: url(../images/bg_indmain.gif) no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 15px
}

.indabout {
	LINE-HEIGHT: 200%
}

.indabout P {
	LINE-HEIGHT: 200%
}

.sidebox_3 {
	BACKGROUND: url(../images/bg_side3.gif) no-repeat left bottom;
	MARGIN-BOTTOM: 10px
}

.sidebox_3 .boxtop {
	PADDING-LEFT: 60px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/bg_side3.gif) no-repeat left top;
	COLOR: #fff;
	LINE-HEIGHT: 28px;
	HEIGHT: 40px
}

.sidebox_3 .boxtext {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 30px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px
}

.referlist {
	
}

.referlist DT {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #819b17
}

.referlist DD {
	MARGIN-BOTTOM: 5px;
	COLOR: #db4985
}

.adbanner {
	MARGIN-BOTTOM: 10px;
	width: 200px;
}

.indnews {
	MARGIN-BOTTOM: 10px
}

.tab_1 {
	BACKGROUND: url(../images/line.gif) repeat-x left bottom;
	OVERFLOW: hidden;
	ZOOM: 1
}

.tab_1 A {
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	BACKGROUND: url(../images/bg_tab_1.gif) no-repeat left top;
	FLOAT: left;
	MARGIN-RIGHT: 1px
}

.tab_1 A SPAN {
	PADDING-RIGHT: 25px;
	PADDING-LEFT: 20px;
	BACKGROUND: url(../images/bg_tab_1.gif) no-repeat right top;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 30px;
	PADDING-TOP: 0px;
	HEIGHT: 30px
}

.tab_1 .cur {
	BACKGROUND-POSITION: left -30px;
	COLOR: #db4985
}

.tab_1 .cur SPAN {
	BACKGROUND-POSITION: right -30px
}

.tab_1_show {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/bg_side2.gif) no-repeat left bottom;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px
}

.tab_1_text {
	
}

.ul_1 {
	
}

.ul_1 LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 8px;
	BACKGROUND: url(../images/arrow8.png) no-repeat left 9px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px
}

.ul_1 LI A {
	
}

.btn_1 {
	BACKGROUND: url(../../img/portal/btn_1.gif) no-repeat left top;
	FLOAT: right;
	WIDTH: 75px;
	COLOR: #db4985;
	LINE-HEIGHT: 22px;
	HEIGHT: 22px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

.btn_1:hover {
	TEXT-DECORATION: none
}

.container {
	MARGIN-BOTTOM: 10px;
	OVERFLOW: hidden;
	WIDTH: 520px;
	POSITION: relative;
	HEIGHT: 250px
}

.slider {
	POSITION: absolute
}

.slider LI {
	POSITION: relative
}

.slider IMG {
	DISPLAY: block;
	WIDTH: 400px;
	HEIGHT: 250px
}

.slider LI .bg {
	Z-INDEX: 11;
	FILTER: Alpha(Opacity = 50);
	WIDTH: 400px;
	BOTTOM: 0px;
	POSITION: absolute;
	HEIGHT: 30px;
	BACKGROUND-COLOR: #e68cb1;
	opacity: 0.5
}

.slider LI .title {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	Z-INDEX: 12;
	PADDING-BOTTOM: 0px;
	COLOR: #fff;
	BOTTOM: 0px;
	LINE-HEIGHT: 30px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	HEIGHT: 30px
}

.slider2 {
	WIDTH: 2000px
}

.slider2 LI {
	FLOAT: left
}
/*����ͼƬ��ʽ*/
.prolist {
	position: relative;
	height: 150px;
	margin-bottom: 10px;
	overflow: hidden;
}

.jnplist {
	position: relative;
	height: 180px;
	margin-bottom: 10px;
	overflow: hidden;
}

.prolist .prolist_content {
	position: absolute;
	width: 2000px;
	top: 26px;
	left: 0px;
	padding: 20px 0 0 8px;
}

.jnplist .jnplist_content {
	position: absolute;
	width: 2000px;
	top: 26px;
	left: 0px;
	padding: 20px 0 0 8px;
}

.global_module {
	position: relative;
	BACKGROUND: url(../images/bg_indmain.gif) no-repeat left bottom;
	padding-bottom: 8px;
}

.prolist ul {
	margin-bottom: 10px;
	float: left;
	height: 220px;
}

.prolist ul li {
	float: left;
	display: inline;
	text-align: center;
	margin-right: 22px;
}

.prolist ul li span {
	display: block;
	overflow: hidden;
}

.prolist ul li img {
	display: block;
	width: 124px;
	height: 124px;
	background: #EEE;
	border: 0;
}

/*Ӥ�׶����Ʒ*/
.jnplist ul {
	margin-bottom: 10px;
	float: left;
	height: 220px;
}

.jnplist ul li {
	float: left;
	display: inline;
	text-align: center;
	margin-right: 22px;
}

.jnplist ul li span {
	display: block;
	overflow: hidden;
}

.jnplist ul li img {
	display: block;
	width: 124px;
	height: 124px;
	background: #EEE;
	border: 0;
}

.module_left_right {
	position: absolute;
	top: 5px;
	left: 250px;
	cursor: pointer;
}

.global_module {
	position: relative;
	background: #FFFFFF;
	padding-bottom: 8px;
}
/**���¶�̬ ��ʽ*/
.scrollNews {
	padding-left: 8px;
	width: 210px;
	height: 85px;
	overflow: hidden;
	background: #ffffff;
}

.scrollNews ul {
	list-style-type: circle;
}

.scrollNews li {
	height: 20px;
	list-style-type: circle;
}

.scrollNewsli {
	height: 20px;
	list-style-type: circle;
}

.module_up_down {
	position: absolute;
	top: 9px;
	right: 10px;
	cursor: pointer;
}
/* tooltip */
#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 1px;
	color: #333;
	display: none;
}

.global_module h3 {
	height: 26px;
	background: #db4985;
	color: #FFF;
	line-height: 26px;
	text-indent: 6px;
}
/* ����Ʒ�б� */
.productList {
	display: block;
	float: left
}

.productList ul {
	
}

.productList ul li {
	float: left;
	margin: 10px;
	display: inline;
	text-align: center;
	width: 103px;
	height: 103px;
	border: 1px solid #ccc;
}

.productList ul li img {
	width: expression(this.width >   101 ?   "101px" :   true);
	height: expresion(this.height >   101 ?   "101px" :   true);
	max-height: 101px;
	max-width: 101px;
}

#thumbs {
	padding: 16px 0 0;
}

#thumbsli {
	float: left;
	text-align: center;
	list-style-type: none
}

#thumbsli img {
	width: 101px;
	height: 101px;
	float: left
}
/* Section: Clearing 
-------------------------------------------------------- */
#hd:after,#bd:after,#ft:after,.clr:after,.md:after,.wrap:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#hd,#bd,#ft,.clr,.md,.wrap {
	zoom: 1;
}
